body {
	margin: 0;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

/*Navbar button*/
#navBtn {
	position: fixed;
	top: 20px;
	right: 20px;
	display: none;
	z-index: 20;
}


#nav-bar .offcanvas {
	background-color: #000000;
	color: white;
	width: 18rem;
	font-family: Arial, Helvetica, sans-serif;
}

#nav-bar .offcanvas-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0px;
}

#nav-bar .nav-body {
	overflow-y: auto;
}

#nav-bar .offcanvas-body>div {
	margin: 5px 0px 5px 0px;
}

#nav-bar .offcanvas-body .nav-img {
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	background: url("images/profile3.jpg") top center;
	background-size: cover;
	border: 5px solid #0d6efd;
}

#nav-bar .offcanvas-body .social-icons {
	height: 5rem;
	width: 15rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav-bar .offcanvas-body .social-icons>div {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	margin: 0px 5px 0px 5px;
	border: 3px solid #0d6efd;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

#nav-bar .offcanvas-body .social-icons>div:hover {
	cursor: pointer;
	background-color: #0d6efd;
	border-color: white;
}

#nav-bar .offcanvas-body .navigationBtns {
	height: 20rem;
	width: 14rem;
}

#nav-bar .offcanvas-body .navigationBtns>a {
	text-decoration: none;
}

#nav-bar .offcanvas-body .navigationBtns>a>div {
	height: 4rem;
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
	font-size: 20px;
}

#nav-bar .offcanvas-body .navigationBtns>a>div:hover {
	cursor: pointer;
	color: #0d6efd;
}

#nav-bar .offcanvas-body .navigationBtns>a>div>i {
	margin-right: 10px;
}










/*same styling for all sections*/


.divider {
  border-top: 12px dotted #0d6efd;
  border-bottom: none;
  width: 12%;
  margin: 50px auto;
  background-color: white;
}

#scrollBtn {
	position: fixed;
	z-index: 20;
	bottom: 20px;
	right: 20px;
	display: none;
}

.section-heading {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.section-heading > h1 {
	font-family: 'Crete Round', serif;
	border: none;
	border-bottom: 4px solid #0d6efd;
	color: #0d6efd;
}








/*home section*/

#home {
	height: auto;
	width: auto;
	font-family: 'Crete Round', serif;
	background-color: #EEEEEE;
}


#home .home-heading, .home-img-container {
	width: 100%;
	height: calc(100vh - 56px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#home .home-heading > div {
	margin-bottom: 30px;
}

#home .titleBtns {
	margin-top: 30px;
}

#home .titleBtns > button {
	margin-right: 15px;
}

#home .intro {
	height: auto;
	width: auto;
	color: black;
	font-weight: bold;
	display: flex;
	flex-direction: column;
}


#home .intro>div>h1>span {
	color: #0d6efd;
}

#home .intro .typeWritter {
	font-size: 30px;
	display: flex;
}

#home #app {
	border: none;
	border-bottom: 4px solid #0d6efd;
	font-family: 'Amaranth', sans-serif;
}

#home .home-img {
	height: 18rem;
	width: 18rem;
	box-shadow:0 0 10px 6px #0d6efd;
	border-radius: 50%;
	background-image: url("images/profile.jpg");
	background-size: contain;
}

.row {
	margin: 0px !important;
}

@media (max-width: 768px) {
	#home .home-heading, .home-img-container {
		height: 23rem;
	}

	#home .titleBtns > button {
		margin-right: 6px;
	}

	#navBtn {
		display: block;
	}

	#top-nav {
		display: none;
	}

	.divider {
	  border-top: 10px dotted #0d6efd;
	  border-bottom: none;
	  width: 20%;
	}
}






/*Skills section*/
#skills {
	height: auto;
	width: auto;
	font-family: 'Crete Round', serif;
	background-color: white;
	padding: 30px;
}

#skills .card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
	width: 100%;
}

#skills .card {
	border: none;
	box-shadow:0 0 10px 3px #0d6efd;
}

@media (max-width: 768px) {
	#skills .card-container {
		height: 28rem;
	}

	.section-heading {
		justify-content: center;
	}
}

.modal-body .progress-container {
	height: 6rem;
	width: 100%;
}

.modal-body .progress-container .progress-title {
	height: 2rem;
	width: 100%;
	margin: 10px 0px 10px 0px;
	color: #000000;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1.5px;
	font-family: 'Amaranth', sans-serif;
}



















/*About section*/
#about {
	height: auto;
	width: auto;
	font-family: 'Crete Round', serif;
	background-color: white;
	padding: 30px;
}

#about .about-left, .about-right {
	width: 100%;
	height: 30rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#about .about-img {
	width: 100%;
	height: 25rem;
	background: url("images/profile2.jpg") top center;
	background-size: cover;
}

#about .about-text-container {
	width: 100%;
	height: 25rem;
}

.about-text-container > div {
	padding: 15px;
}

.about-text-container h3 {
	color: #0d6efd;
}

.about-text-container>div:nth-child(3) i {
	color: #0d6efd;
	margin-right: 5px;
}

.about-text-container>div:nth-child(4) button {
	margin-right: 5px;
}


@media (max-width: 768px) {
	#about .about-left {
		display: none;
	}

	#about .about-right {
		height: 48rem;
		background-color: #EEEEEE;
		border-radius: 6px;
	}

	#about .about-text-container {
		width: 100%;
		height: 48rem;
	}

	.about-text-container > div {
		padding: 20px;
	}
}




















/*projects section*/
#projects {
	height: auto;
	width: auto;
	font-family: 'Crete Round', serif;
	padding: 30px;
	background-color: white;
}

#projects .projects-container {
	margin-top: 20px;
	height: 80vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
}



.projects-container .project-details {
	width: 90%;
	height: auto;
	border: 2px solid #0d6efd;
	padding: 15px;
	margin: 20px 5% 20px 5%;
	position: relative;
	background-color: #F9F9F9;
	border-radius: 6px;
}

#project-display-btn {
	position: absolute;
	top: 15px;
	right: 15px;
}

.project-details .project-title {
	color: #0d6efd;
	font-family: 'Amaranth', sans-serif;
}

#projects .card-body {
	border: none;
	background-color: #F9F9F9;
}

#projects .card-body .project-info {
	width: 100%;
	height: 18rem;
	background-color: white;
	border: 1px solid #B2B1B9;
}


#projects .card-body .project-info .project-inner-title {
	width: 100%;
	height: 3rem;
	border-bottom: 1px solid #B2B1B9;
	display: flex;
	justify-content: center;
	align-items: center;
}

#projects .card-body .project-info .project-desc {
	width: 100%;
	height: 15rem;
	display: flex;
}

.project-desc > div:nth-child(1) {
	border-right: 1px solid #B2B1B9;
}

.project-desc > div {
	width: 50%;
	height: 100%;
	padding: 10px;
}

.project-desc h5 {
	color: #5C33F6;
}

.project-desc i {
	color: #5C33F6;
	margin-right: 5px;
}

#mobile-project-button {
	display: none;
}


@media (max-width: 800px) {
	#projects .card-body .project-info {
		height: 30rem;
	}


	#projects .card-body .project-info .project-desc {
		height: 27rem;
	}
}

@media (max-width: 600px) {
	#project-display-btn {
		display: none;
	}

	#mobile-project-button {
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 15px;
}


}










/*contact me section*/
#contact {
	height: auto;
	width: auto;
	font-family: 'Crete Round', serif;
	padding: 30px;
	background-color: white;
}

#contact .contact-left, .contact-right {
	height: 30rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#contact .details-container, .form-container {
	height: 25rem;
	width: 100%;
}

.form-container {
	padding: 45px;
}

.con-head-para {
	padding: 15px;
}

.con-head-para > h3 {
	color: #0d6efd;
}

.con-details {
	height: 15rem;
	width: 100%;
}

.my-details-container {
	height: 5rem;
	width: 100%;
	display: flex;
}

.con-icon {
	height: 5rem;
	width: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	color: #0d6efd;
}

.con-text {
	height: 5rem;
	width: calc(100% - 5rem);
	padding: 8px;
}

.con-text h5 {
	color: #0d6efd;
}


@media (max-width: 700px) {
	.form-container {
		padding: 15px;
	}
}




/* footer */
#footer {
	width: 100%;
	height: 4rem;
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
